@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.container {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
        width: 18px;
        height: 18px;
        border: 2px solid #CCC;
        border-top-color: #666;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}